.invalid{
    -fx-text-box-border:red;
    -fx-focus-color: red;

    -fx-border-color: red;
}

.center {
    -fx-alignment: center;
}

.table-row-cell:filled {
    -fx-background-color: #a9d6dc;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}
.table-view{
    -fx-background-image : url("/images/hospital.png");
    /*-fx-opacity: 0.2;*/
    -fx-background-size: 1250.0 900.0;
}
.pane-background{
    -fx-background-image : url("/images/background.jpeg");
    -fx-background-size: 250.0 920.0;
}